@import "bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
	--color-blue: #1f2b6c;
	--color-white: #fcfefe;
	--color-heading: #1f2b6c;
	--color-featured: #159eec;
	--color-text: #000;
	--bg-overlay: #1f2b6c;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	background: var(--color-white);
	color: var(--color-text);
}
.color-featured {
	color: var(--color-featured);
}
.color-white {
	color: var(--color-white);
}
.color-black {
	color: var(--color-text);
}
.color-blue {
	color: var(--color-blue);
}
.bg-blue {
	background: var(--color-blue);
	height: 60px;
}
.color-primary {
	color: var(--bg-overlay);
}

.img-about1 {
	width: 408px;
	height: 509px;
}
.div-com2 {
	/* width: 446px; */
	/* height: 139px; */
}
.p-style1 {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #159eec;
}
.p-style2 {
	font-family: "Yeseva One";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	color: #1f2b6c;
}
.div-com3 {
	/* width: 481px; */
	/* height: 107px; */
	margin-top: 40px;
	margin-bottom: 30px;
}
.div-com4 {
	display: flex;
	gap: 10px;
}
.point {
	width: 16px;
	height: 16px;
	left: 615px;
	top: 641px;

	background: #159eec;
	border-radius: 50px;
}
.text {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #000000;
}
.div-test {
	width: 129px;
	height: 25px;
}
.div-com5 {
	margin-top: 10px;
}
.p-style3 {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #000000;
}
.div-com6 {
	/* width: 197px; */
	/* height: 66px; */

	margin-left: auto;
	margin-right: auto;
}
.div-sec2 {
	position: absolute;
	width: 992px;
	height: 718px;
	margin-top: 40px;
}
.p-style6 {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #159eec;
}
.p-style4 {
	font-family: "Yeseva One";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #1f2b6c;
}
.div-com7 {
	width: 992px;
	height: 718px;
	margin-top: 50px;
}
.img-card {
	width: 317px;
	height: 350px;
}
.body-card {
	width: 317px;
	height: 142px;
	background: #bfd2f8;
}
.div-card {
	width: 317px;
	height: 46px;
	background-color: #1f2b6c;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-style {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #bfd2f8;
	padding: auto;
	padding-top: 10px;
}
.card-body {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: #1f2b6c;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.card-body2 {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #1f2b6c;
}
.img-ss {
	display: flex;
	justify-content: center;
	gap: 30px;
}
.points {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* navbar */
.logo {
	display: flex;
	align-items: center;
}
.logo_one,
.logo_two {
	font-weight: 800;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
}
.logo_one {
	color: var(--color-blue);
}
.logo_two {
	color: var(--color-featured);
}
.nav_box {
	display: flex;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
}
.nav_box_one {
}
.nav_box_two {
	margin-left: 5px;
	margin-right: 5px;
}
.text_primary {
	color: var(--color-blue);
}
.text_blue {
	color: var(--color-featured);
}
.button_nav {
	background: #bfd2f8;
	border-radius: 50px;
	color: var(--color-text);
}
/* backgroundHeader */
.backgroundHeader {
	width: 100%;
	max-width: 100%;
	height: 250px;
	position: relative;
	/* background-image: url("/public/images/backgroundHeader.png"); */
}
.backgroundHeader_container {
	position: inherit;
	display: flex;
	align-items: center;
	height: 100%;
	z-index: 3;
}
.backgroundHeader_text p {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: var(--color-blue);
	text-transform: capitalize;
}
.backgroundHeader_text h2 {
	font-weight: 600;
	font-size: 48px;
	line-height: 55px;
	color: var(--color-blue);
}
/* about */
.about_box {
	width: 100%;
	height: 440px;
	position: relative;
	margin: 5rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about_bg {
	width: 660px;
	height: 313px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.about_relative {
	position: relative;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text_one,
.text_two {
	font-weight: 400;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	color: #fcfefe;
}
.hr {
	width: 240px;
	background: #fbfbfbfb;
}
/* contact */
.contact {
	border: 1px solid red;
	/* height: 363px; */
	width: 100%;
	margin: 5rem auto;
}
.contact_text {
}
.contact_box {
	margin: 1rem auto;
	/* height: 235px; */
}
.contact_box_col {
	background: #bfd2f8;
	border-radius: 5px;
	height: 233px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	/* margin: 1px; */
}
.context_text_one {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #159eec;
}
.context_text_two {
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #1f2b6c;
}
/*  */
[data-overlay-dark],
[data-overlay-color] {
	position: inherit;
}
[data-overlay-dark]:before,
[data-overlay-color]:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
[data-overlay-dark]:before {
	background: rgba(255, 255, 255, 0.5);
}
[data-overlay-color]:before {
	background: #1f2b6c;
}
[data-overlay-dark="3"]:before {
	opacity: 1;
}

[data-overlay-color="1"]:before {
	opacity: 0.6;
}
@media screen and (max-width: 500px) {
	.none {
		display: none;
	}
}

/* Doctor Card */
.card-doctor{
	width: 992px;
	height: 1096px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.p-news{
	font-size: 18px;
	font-family: Work Sans;
	font-weight: 700;
	letter-spacing: 2.88px;
	text-transform: uppercase;
	color: #159EEC;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h1-news{
	font-size: 32px;
	font-family: Yeseva One;
	color: #1F2B6C;
	display: flex;
	justify-content: center;
	align-items: center;
}
.news-section{
	width: fit-content;
	height: 328px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.card-small{
	width: 486px;
	height: 154px;
	display: inline-flex;
	justify-content: space-around;
	margin-bottom:10px;
}
.text-card{
	width: 273px;
	height: 114px;
}
.dateInfo{
	font-size: 14px;
	font-family: Work Sans;
	color: #159EEC;
}
.text-1{
	font-size: 18px;
	font-family: Work Sans;
	line-height: 140%;
	color: #212124;
}
.group66{
	width: 88px;
	height: 16px;
	flex-shrink: 0;
	color: black;
}
.view{
	display: flex;
	width: 16px;
	height: 14.194px;
	margin-right: 62px;

}
.icons{
	display: flex;
	justify-content: space-around;
	height: 16px;
	width: 88px;
}
.likes{
	display: flex;
	width: 39px;
	height: 16px;
}